{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} Lighters - Change Email {% endblock %}

{% block head %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/change_email.css') }}">
{% endblock %}


{% block page_content %}
    <div class="change-email-container">
        <div class="page-header">
            <h1>修改登录邮箱</h1>
        </div>

        <div class="change-email-box">
            <div class="account-change-email">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>

{% endblock %}