{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} cmLighters' Blog - Login {% endblock %}

{% block head %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block navbar %} {% endblock %}

{% block page_content %}
    <div class="login-header-logo">
        <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='images/logo_pic.jpg') }}"></a>
    </div>
    <div class="login-container">
        <div class="page-header">
            <h1>登录</h1>
        </div>

        <div class="login-box">
            <div class="account-login">
                {{ wtf.quick_form(form) }}
                <br>
                <div> <a class="login-forget-password" href="{{ url_for('auth.reset_password_request') }}">忘记密码？</a></div>
            </div>
            <div class="oauth-login">
                <p>没有账号？</p>
                <p class="register-direct"><a href="{{ url_for('auth.register') }}">立即注册 →</a></p>
                <p>使用第三方账号直接登录</p>
                <a class="oauth-github-btn" href="{{ url_for('auth.oauth_github') }}">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                    Github登录
                </a>
            </div>

        </div>
    </div>

{% endblock %}