{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} cmLighters' Blog - Login {% endblock %}

{% block head %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
{% endblock %}

{% block navbar %} {% endblock %}

{% block page_content %}
    <div class="reset-password-header-logo">
        <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='images/logo_pic.jpg') }}"></a>
    </div>
    <div class="reset-password-container">
        <div class="page-header">
            <h1>重置密码</h1>
        </div>

        <div class="reset-password-box">
            <div class="account-reset-password">
                {{ wtf.quick_form(form) }}
            </div>
            <div class="turn-to-login"> <a href="{{ url_for('auth.login') }}">转到登录页面?</a></div>
        </div>
    </div>

{% endblock %}