body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;

}

.post-body ul, p {
margin-bottom: 16px;
}

pre {
    padding: 0;
    border: none;
    border-radius: 0px;
}

.icon {
    width: 1.1em;
    height: 1.1em;
    padding-right: 2px;
    padding-top: 2px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

.navbar-default .navbar-nav.navbar-right>li>a.post-commit-btn,
.navbar-default .navbar-nav.navbar-right>li>a.navbar-write-btn {
    color: #fff;
    width: 82px;
    height: 36px;
    margin-right: 15px;
    padding-left: 16px;
    background: #FF7055;
    border-radius: 100px;
    padding-top: 8px;
    margin-top: 17px;
     text-align: center;
    //line-height: 5px;
    //margin-top: 20px;
}

.navbar-default .navbar-nav.navbar-right>li>a.navbar-api-btn {
    margin-top: 0px;
}

.navbar-default .navbar-nav.navbar-right>li>a.navbar-register-btn {
    padding-left: 23px;
    border: 1px solid #ff7055;
    background: white;
    color: #ff7055;
    width: 82px;
    height: 36px;
    margin-right: 15px;
    border-radius: 100px;
    padding-top: 8px;
    margin-top: 17px;
    //line-height: 5px;
    //margin-top: 20px;
}

.navbar.navbar-default {
    background-color: #fff;
    height: 68px;
}

.navbar-default .navbar-brand {
    //color: #fff;
    //margin-top: 10px;
    width: 167px;
    padding: 7px 0 0 0;
}

.navbar-default .navbar-brand img {
    width: 167px;
    padding-right: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: #999;
    margin-top: 10px;
    font-size: 16px;
}

.navbar .navbar-avatar {
    height: 36px;
    width: 36px;
    border-radius: 18px;
}

.navbar li.menu-item.active {
    border-bottom: 3px solid;
    padding-bottom: 3px;
}

.navbar li.menu-item.active a {
    background-color: #fff;
}

.navbar-right>li>a {
    padding-left: 0px;
    padding-right: 15px;
}

.navbar-right .navbar-search-div.div-active {
    display: -webkit-box;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #ececec;
    border-radius: 18px;
    height: 36px;
}

.navbar-right input#navbar-keyword-search-input.input-active {
    outline: none;
    border: none;
    height: 34px;
    margin-left: 15px;
    display: -webkit-box;
    float: inherit;
    width: 200px;
}

.navbar-right .navbar-search-div.div-active span {
    border: none;
}

.navbar-right .navbar-search-div.div-inactive {
    color: #999;
    display: -webkit-box;
    height: 36px;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #ececec;
    border-radius: 18px;
}

.navbar-right input#navbar-keyword-search-input.input-inactive {
   display: none;
}

.navbar-right .navbar-search-btn {
    /*padding-right: 15px;*/
    /*float: inherit;*/
    /*margin-top: 15px;*/
}
.navbar-right .navbar-search-btn>.icon {
    //border: 1px solid #ececec;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    padding: 0px;
    //padding-left: 2px;
    //padding-bottom: 2px;

    //margin-top: 10px;
}

.navbar-right .navbar-api-btn>.icon {
    border: 1px solid #ececec;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    padding-left: 2px;
    padding-bottom: 2px;
    //margin-top: 10px;
}

.navbar-right.navbar-nav li a.a-navbar-avatar {
    margin-top: 0px;
}

.container.content-container {
    width: 80%;
    margin-bottom: 66px;
}

.index-tabs {
    display: inline-block;
    width: 14%;
    vertical-align: top;
    margin: 0 auto;
}

.index-tabs ul {
    padding-left: 0;
    width: 80%;
    margin: 0 auto;
    //float: left;
}
.index-tabs>ul>li {
    display: block;
    padding: 10px 20px;
    background-color: #d2d2d2;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.index-tabs>ul>li>a {
    color: #ff6f4f;
    text-decoration: none;
}
.index-tabs>ul>li.active {
    background-color: #fff;
}
.index-tabs>ul>li.active>a {
    font-weight: 700;
}
.index-tabs>ul>li>a>svg.icon {
    padding-top: 0;
    padding-right: 0;
}

.profile-thumbnail {
    border-radius: 20px;
}

.profile-header {
    margin-left: 280px;
    min-height: 260px;
}

div.posts-pagination {
    display: inline-block;
    width: 70%;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
}
ul.posts li.post {
    //width: 70%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 5px 20px 20px;
}
ul.posts li.post:hover {
    //background-color: #f0f0f0;
    box-shadow: 2px 2px 2px #bbb;
}

div.post-content {
    min-height: 48px;
}

div.post-header {
    margin-bottom: 0.5rem!important;
    font-size: 12px;
    color: #868e96!important;
}
div.post-header>a {
    color: #868e96!important;
}
div.post-header svg.icon {
    font-size: 20px;
    position: relative;
    top: 5px;
    padding-right: 0px;
    padding-top: 0px;
    margin-left: 12px;
    border-radius: 50%;
}

div.post-body {
    overflow: hidden;
    max-height: 500px;
    margin-bottom: 20px;
}

div.post-body>h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #4acaa8;
    margin-top: 0rem!important;
    margin-bottom: 12px;
}

div.post-body>h2 {
    font-size: 22px;
    color: #4acaa8;
    //margin-top: 0rem!important;
    font-weight: 600;
    margin: 10px 0 10px 0;
    padding: 0 10px;
    border-left: 5px solid #20c997;
    background-color: #f4f4f4;
    line-height: 2em;
}

div.post-body>h3 {
    font-size: 20px;
    color: #4acaa8;
    //margin-top: 0rem!important;
    font-weight: 550;
    margin: 10px 0 10px 0;
    padding: 0 10px;
    border-left: 5px solid #20c997;
    background-color: #f4f4f4;
    line-height: 2em;
}

div.post-body>h4 {
    font-size: 18px;
    color: #4acaa8;
    //margin-top: 0rem!important;
    font-weight: 500;
    margin: 10px 0 10px 0;
    padding: 0 10px;
    border-left: 5px solid #20c997;
    background-color: #f4f4f4;
    line-height: 2em;
}

div.post-body>h5 {
    font-size: 16px;
    color: #4acaa8;
    //margin-top: 0rem!important;
    font-weight: 450;
    margin: 10px 0 10px 0;
    padding: 0 10px;
    border-left: 5px solid #20c997;
    background-color: #f4f4f4;
    line-height: 2em;
}

div.post-body>h6 {
    font-size: 14px;
    color: #4acaa8;
    margin-top: 0rem!important;
    font-weight: 400;
    margin: 10px 0 10px 0;
    padding: 0 10px;
    border-left: 5px solid #20c997;
    background-color: #f4f4f4;
    line-height: 2em;
}

div.post-body.non-followed-hint>h3,
div.post-body.non-posts-hint>h3 {
    color: #4acaa8;
    text-align: center;
    font-size: 20px;
}


div.post-body a.post-category {
    float: left;
    font-size: 16px;
    color: #fff;
    background-color: #16ce9b;
    padding: 1px 8px;
}

div.post-body a.post-tag {
    float: right;
    font-size: 16px;
    color: #fff;

    padding: 1px 5px;
    margin: 0 5px;
}

div.post-body a.post-category > .icon,
div.post-body a.post-tag > .icon {
    padding: 0;
}

div.post-body a.post-tag:nth-child(2) {
    background-color: #d6fb09;
}

div.post-body a.post-tag:nth-child(3) {
    background-color: #78BBE6;
}

div.post-body a.post-tag:nth-child(4) {
    background-color: #FF895D;
}

div.post-body a.post-tag:nth-child(5) {
    background-color: #A3DE83;
}

div.post-body a.post-tag:nth-child(6) {
    background-color: #00BBF0;
}

div.post-body a.post-category:hover,
div.post-body a.post-tag:hover {
    background: #000;
    text-decoration: none;
}

div.post-footer>a.post-toggle-btn {
    float: left;
    cursor: pointer;
    //background-color: #30c69f;
}
div.post-footer>a>span.label-primary {
    background-color: #30c69f;
}
div.post-footer>a>span.label-default {
    background-color: #ff6f4f;
}
div.pagination {
    //width: 70%;
    text-align: right;
    padding: 0px;
    margin: auto;
    display: block;
}
div.pagination>ul.pagination {
    float:right;
}
div.pagination>ul.pagination>li>a {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 14px;
    TEXT-ALIGN: center;
    padding: 0;
}
div.pagination>ul.pagination>li.active>a {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #e91e63;
    color: #fff;
    font-size: 14px;
    border: 1px solid #e91e63;
}
div.pagination>ul.pagination>li>a:last-child {
    margin-right: 0;
}

div.post-footer {
    text-align: right;
    //padding-right: 20px;
}
div.post-footer>a:hover{
    text-decoration: none;
}


footer.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 15px 0 0;
    font-size: 15px;
    color: #aaa;
    background-color: #ffffff;
    z-index: 9999;
}

footer.footer p {
    text-align: center;
}



.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}



ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}

body .feedback-info-dialog .layui-layer-content {
    background-color: #1dbe70;
    color: #fff;
    width: 300px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.feedback-message {
    z-index:9999;
    position: fixed;
    top: 50%;
    width: 85%;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    text-align: center;
}

.feedback-message p {
    background: #1dbe70;
    opacity: 0.8;
    width: 300px;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    margin: 0 auto;
    font-size: 14px;
    border-radius: 4px;
}


code.hljs {
    padding: 15px;
	border: 0;
	//font-family: "Consulas", "Courier New", Courier, mono, serif;
	font-size: 12px;
	//background: #eee !important;
	display: block;
	//padding: 1px;
	margin: 0;
	width: 100%;
	font-weight: 400;
	//color: #333;
	white-space: pre-wrap
}
.hljs ul {
	list-style: decimal;
	//background-color: #fff;
	margin: 0px 0px 0 45px !important;
	padding: 0px;
}
.hljs ul li {
	list-style: decimal-leading-zero;
	border-left: 1px solid #6d6d6d !important;
	//background: #aaa;
	padding: 5px 10px!important;
	margin: 0 !important;
	line-height: 14px;
	word-break: break-all;
	word-wrap: break-word;
}
.hljs ul li:nth-of-type(even) {
	//background-color: #fcfcfc;
	color: inherit;
}