.navbar.navbar-default {
    background-color: #1dbe70;
    height: 68px;
}

.navbar-default .navbar-brand {
    color: #fff;
    margin-top: 10px;
}

.navbar .navbar-write-btn {
    width: 82px;
    height: 36px;
    margin-right: 15px;
    background: #FF7055;
    border-radius: 100px;
    line-height: 5px;
    margin-top: 20px;
    // font-size: 16px;
    //font-weight: 400;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
}

.navbar .navbar-avatar {
    height: 36px;
    width: 36px;
    border-radius: 18px;
}

.navbar li.menu-item.active {
    border-bottom: 3px solid;
    padding-bottom: 3px;
}

.navbar li.menu-item.active a {
    background-color: #1dbe70;
}

.profile-thumbnail {
    position: absolute;
}

.profile-header {
    margin-left: 280px;
    min-height: 260px;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}

div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

div.post-footer {
    text-align: right;
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

div.post-tabs {
    margin-top: 16px;
}

div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}

ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}

body .feedback-info-dialog .layui-layer-content {
    background-color: #1dbe70;
    color: #fff;
    width: 300px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.feedback-message {
    position: fixed;
    top: 50%;
    width: 85%;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    text-align: center;
}

.feedback-message p {
    background: #1dbe70;
    opacity: 0.8;
    width: 300px;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    margin: 0 auto;
    font-size: 14px;
    border-radius: 4px;
}