 .icon {
    width: 1.1em;
    height: 1.1em;
    padding-right: 2px;
    padding-top: 2px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

.navbar-default .navbar-nav.navbar-right>li>a.navbar-write-btn {
    color: #fff;
    width: 82px;
    height: 36px;
    margin-right: 15px;
    padding-left: 16px;
    background: #FF7055;
    border-radius: 100px;
    padding-top: 8px;
    margin-top: 17px;
    //line-height: 5px;
    //margin-top: 20px;
}

.navbar-default .navbar-nav.navbar-right>li>a.navbar-api-btn {
    margin-top: 0px;
}

.navbar-default .navbar-nav.navbar-right>li>a.navbar-register-btn {
    padding-left: 23px;
    border: 1px solid #ff7055;
    background: white;
    color: #ff7055;
    width: 82px;
    height: 36px;
    margin-right: 15px;
    border-radius: 100px;
    padding-top: 8px;
    margin-top: 17px;
    //line-height: 5px;
    //margin-top: 20px;
}

.navbar.navbar-default {
    background-color: #fff;
    height: 68px;
}

.navbar-default .navbar-brand {
    //color: #fff;
    //margin-top: 10px;
    width: 167px;
    padding: 7px 0 0 0;
}

.navbar-default .navbar-brand img {
    width: 167px;
    padding-right: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: #999;
    margin-top: 10px;
    font-size: 16px;
}

.navbar .navbar-avatar {
    height: 36px;
    width: 36px;
    border-radius: 18px;
}

.navbar li.menu-item.active {
    border-bottom: 3px solid;
    padding-bottom: 3px;
}

.navbar li.menu-item.active a {
    background-color: #f5f5f5;
}

.navbar-right>li>a {
    padding-left: 0px;
    padding-right: 15px;
}

.navbar-right .navbar-search-div.div-active {
    display: -webkit-box;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #ececec;
    border-radius: 18px;
    height: 36px;
}

.navbar-right input#navbar-keyword-search-input.input-active {
    border: none;
    height: 34px;
    margin-left: 15px;
    display: -webkit-box;
    float: inherit;
    width: 200px;
}

.navbar-right .navbar-search-div.div-active span {
    border: none;
}

.navbar-right .navbar-search-div.div-inactive {
    color: #999;
    display: -webkit-box;
    height: 36px;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #ececec;
    border-radius: 18px;
}

.navbar-right input#navbar-keyword-search-input.input-inactive {
   display: none;
}

.navbar-right .navbar-search-btn {
    /*padding-right: 15px;*/
    /*float: inherit;*/
    /*margin-top: 15px;*/
}
.navbar-right .navbar-search-btn>.icon {
    //border: 1px solid #ececec;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    padding: 0px;
    //padding-left: 2px;
    //padding-bottom: 2px;

    //margin-top: 10px;
}

.navbar-right .navbar-api-btn>.icon {
    border: 1px solid #ececec;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    padding-left: 2px;
    padding-bottom: 2px;
    //margin-top: 10px;
}

.navbar-right.navbar-nav li a.a-navbar-avatar {
    margin-top: 0px;
}


.profile-thumbnail {
    position: absolute;
}

.profile-header {
    margin-left: 280px;
    min-height: 260px;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}

div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

div.post-footer {
    text-align: right;
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

div.post-tabs {
    margin-top: 16px;
}

div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}

ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}

body .feedback-info-dialog .layui-layer-content {
    background-color: #1dbe70;
    color: #fff;
    width: 300px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.feedback-message {
    z-index:9999;
    position: fixed;
    top: 50%;
    width: 85%;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    text-align: center;
}

.feedback-message p {
    background: #1dbe70;
    opacity: 0.8;
    width: 300px;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    margin: 0 auto;
    font-size: 14px;
    border-radius: 4px;
}