

.change-password-container {
    max-width: 670px;
    margin: auto;
    //border: 4px solid red;
}

.page-header {
    border-bottom: 0px;
    text-align: center;
}

.page-header h1 {
    padding-left: 0px;
}

.change-password-box {
    display: block;
}

.account-change-password {
    width: 300px;
    margin: auto;
}
.account-change-password .form-group label {
    display: none;
}

.account-change-password input.form-control {
    display: block;
    width: 100%;
    padding: 12px 20px;
    line-height: 1.6;
    height: 3.5em;
    padding: 12px 20px;
    -webkit-transition: all .2s;
    transition: all .2s;
    color: #666;
    border: 1px solid #dce4e6;
    border-radius: 3px;
    outline: 0;
    background: #f3f6f8;
}

.account-change-password input[type="submit"] {
    height: 3.5em;
    padding: .4rem 1.2rem;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    border: 1px solid transparent;
    display: block;
    width: 100%;
    border-radius: 2px;
    outline: 0;
    color: #fff;
    background: #31b968;
    font: inherit;
}

.change-password-box>div.turn-to-reset-password {
    margin-top: 20px;
    color: #31b968;
    //font-size: 18px;
    text-align: center;
}

.change-password-box>div.turn-to-reset-password>a {
    color: #31b968;
    font-size: 18px;
    font-weight: 300;
}


