div.title-commit-hint {
    background-color: #fff;
    padding: 10px;
    line-height: 30px;
    margin-bottom: 10px;
}

div.title-commit-hint>input#title-input {
    outline: none;
    color: #4acaa8;
    border: none;
    width: 30%;
    //border-right: 1px solid #bbb;
    font-size: 14px;
}

div.title-commit-hint>button#post-commit-btn {
    color: #fff;
    display: inline-block;
    border: none;
    width: 70px;
    background: #FF7055;
    border-radius: 20px;
    margin-left: 17px;
    text-align: center;
}

div.title-commit-hint>span#post-edit-hint {
    float: right;
}

div.title-commit-hint>span#post-edit-hint>a {
    color: #4acaa8;
}

#single-select2-category + span.select2.select2-container {
    //height: 23px;
    //width: 13%;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    //margin-left: 15px;
    font-size: 13px;
}

#single-select2-category + span.select2.select2-container > .selection > .select2-selection {
    border: none;
    padding-left: 15px;
}

#multi-select2-tags + span.select2.select2-container > .selection > .select2-selection {
    border: none;
    font-size: 13px;
    line-height: 1.5;
    margin-left: 15px;
}

#multi-select2-tags + span.select2.select2-container > .selection > .select2-selection > ul > li{
    background-color: #4acaa8;
    line-height: 20px;
    border: none;
}

#multi-select2-tags + span.select2.select2-container > .selection > .select2-selection > ul > li:last-child {
    background-color: #fff;
}

#multi-select2-tags + span.select2.select2-container > .selection > .select2-selection > ul > li > div {
    display: inline-block;
    margin-left: 3px;
}