{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_macros.html' as macros %}

{% block title %} Lighters - Post {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}" />
{% endblock %}

{% block page_content %}
    <div class="post-page">
        {% include '_posts.html' %}
        <div class="post-comments">
        <h4 class="comments"> 评论区 </h4>
        {% if current_user.can(Permission.COMMENT) %}
            <div class="comment-form">
                {{ wtf.quick_form(form) }}
            </div>
        {% endif %}
        {% include '_comments.html' %}

        {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
        </div>
        {% endif %}
        </div>

    </div>
{% endblock %}