{% extends "base.html" %}
{% import '_macros.html' as macros %}

{% block title %} Lighters - Profile {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}" />
{% endblock %}

{% block page_content %}
    <img class="profile-avatar" src="{{ user.gravatar(size=128) }}">
    <div class="profile-header">
        <h1> {{ user.username }} </h1>
        {% if user.name or user.location %}
        <p>
            {% if user.name %} {{ user.name }} {% endif %}
            {% if user.location %}
                From <a href="https://ditu.amap.com/search?query={{ user.location }}">{{ user.location }}</a>
            {% endif %}
        </p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>注册于 {{ moment(user.member_since).format('L') }}， 上次访问时间 {{ moment(user.last_seen).fromNow() }}。</p>
        <p>{{ user.posts.count() }} 篇文章， {{ user.comments.count() }} 个评论。</p>
        <p>
            {% if current_user.can(Permission.FOLLOW) and current_user != user %}
                {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary"> 关注</a>
                {% else %}
                    <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-default"> 取关</a>
                {% endif %}
            {% endif %}

            <a href="{{ url_for('.followers', username=user.username) }}">关注我的: <span class="badge">{{ user.followers.count() }}</span></a>
            <a href="{{ url_for('.followed_by', username=user.username) }}">我关注的: <span class="badge">{{ user.followed.count() }}</span></a>
            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                | <span class="label label-default">Follows you</span>
            {% endif %}
        </p>
        <p>
        {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">编辑资料</a>
        {% endif %}
        {% if current_user.is_administrator %}
            <a class="btn btn-danger" href="{{ url_for('main.admin_edit_profile', user_id=user.id) }}"> 编辑资料 [Admin]</a>
        {% endif %}
        </p>
    </div>
    {% if posts %}
        <h3 class="posts-header"> 发表的文章</h3>
        {% include '_posts.html' %}
        {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.user', username=username) }}
        </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

        $(function() {
            $('.post-body').each(function () {
                var tmp_height = 0;
                $.each($(this).children(), function(index, value) {
                    console.log(this);
                    tmp_height += $(value).outerHeight(true);
                    if (tmp_height + $(this[index+1]).outerHeight(true) > 200) {
                        $(this).parent().next().prepend("<a class='post-toggle-btn toggle-off never-clicked'><span class='label label-primary'>查看全文</span></a>");
                        $(this).parent().height(tmp_height);
                        return false;
                    }
                });
            })
        });

        $('div.post-footer').on('click', 'a.post-toggle-btn', function() {
            if ($(this).hasClass('never-clicked')) {
                $(this).removeClass('never-clicked');
                this.overflow_height = $(this).parent().prev().css('height');
                this.overflow_max_height= $(this).parent().prev().css('max-height');
                console.log(this.overflow_height);
                console.log(this.overflow_max_height);
            }
            console.log(this);
            //var overflow_height, overflow_max_height;
            if ($(this).hasClass('toggle-on')) {
                $(this).removeClass('toggle-on').addClass('toggle-off');
                $(this).parent().prev().css({'height': this.overflow_height, 'max-height':this.overflow_max_height});
                $(this).children('span').text('查看全文');
            } else {
                $(this).removeClass('toggle-off').addClass('toggle-on');
                $(this).parent().prev().css({'height': 'fit-content', 'max-height':'fit-content'});
                $(this).children('span').text('收起文章');
            }

         //   $(this).children('span').text('收起文章');
         //   $(this).parent().prev().css({'height': 'fit-content', 'max-height':'fit-content'});
        });
    </script>
{% endblock %}
